@import './normalize.css';

/* :root ->获取根元素HTML */
:root{

    /* 定义变量:比如color-text */
    /* 文字颜色 */
    --color-text:#666;
    /* 文字高亮颜色 */
    --color-high-text:#ff5777;
    /* 整体背景颜色 */
    --color-tint:#ff8198;
    --color-background:#fff;
    --font-size:14px;
    --line-height:1.5;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
box{
    font-family:"Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑","Arial,sans-serif";
    /* 禁止用户鼠标在页面选中文字/图片 */
    user-select: none;
    /* webkit苹果浏览器，tap点击，highlight背景高亮，color颜色，颜色用数字调节 */
    -webkit-tap-highlight-color: transparent;
    background: var(--color-background);
    color:var(--color-text);
    /* rem vw/vh */
    width: 100vw;
}
a{
    color:var(--color-text);
    text-decoration: none;
}
/* 清除浮动 */
.clear-fix::after{
    clear:both;
    content: "";
    display: block;
    width: 0;
    height: 0;
    visibility: hidden;
}
.clear-fix{
    zoom:1;
}
.left{
    float: left;
}
.right{
    float: right;
}